body {
background-image: url(img/background.jpg);
background-repeat: no-repeat;
background-position: 1 , 1;
-moz-background-size: cover;
-webkit-background-size: cover;
background-size: cover;
}

body>div{
  background-color: rgba(5, 0, 0, 0.5);
  border-radius:20px;
  height: 600px;
  width: 80%;
  position: relative;
}
body>div{
  position: absolute;
  top:90%;
  left:50%;
  transform: translate(-50%,-90%);
}

div>img{
  position: relative;
  top:12%;
  left:41%;
  height: 100px;
  transform: translate(-5%, -1%);
}

div>h1{
  color:rgb(0, 250, 0);
  position:relative;
  top:7%;
  left: 30%;
  transform: translate(-1%,-1%);
}

nav>div{
  background-color: rgb(0,250,0) ;
  width: 79vw;
  height: 5vh;
  position:absolute;
  top:35%;
  left:1%;
  transform: translate(-1%,-1%);
}

div>form{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

main>div{
  position: absolute;
  top:43%;
  color: white;
}

.pr1x{
  position: absolute;
  left: 5%;
  top:1%;
  color: white;
  font-size: 25px;
  transform: translate(-1%,-20%);
}

.bianco{
  color: #f2f3f4 ;
  position: relative;
  top:10px;
  font-size: 12px
}

.marro{
  color: brown;
  background-color: #F4A460;
  border-radius: 10px;
  width: 60vh;
  height: 2vw;
  position: relative;
  top:10px;
}

.pr10x{
position:relative;
top:25px;
}

.pr11x{
  position: absolute;
  left: 5%;
  top:43%;
  color: white;
  font-size: 25px;
  transform: translate(-1%,-20%);
}

.bianco2{
  color: #f2f3f4 ;
  position: relative;
  top:40px;
  font-size: 12px
}

.green2{
  color: green;
  background-color: rgb(0,250,0) ;
  border-radius: 10px;
  width: 90vh;
  height: 2vw;
  position: relative;
  top:50px;
}

.pr12x{
  position: relative;
  top:80px;
}
.pr13x{
  position:absolute;
  font-size: 25px;
  top:100%;
  left:5%;
  transform: translate(-1%,-20%);


}

.bianco3{
  position: relative;
  top: 100px;
}

.fuxzia{
  background-color: #990066;
  position: relative;
  top: 100px;
  width: 40vh;
  border-radius: 10px;
  height: 2vw;
}
